main{
    min-height: 100vh;
}
  * {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    height: auto;
    box-sizing: border-box;
    color: #eeeeee;
  }
.main-container{
  width: 80%;
  margin: 6rem auto;
}
.details-text{
  background-color: rgba(8, 32, 50, 0.6);
  border-radius: 0.5rem;
  transition: ease-out 0.3s;
  padding: 0rem 0.5rem;
  line-height: 2rem;
}
.details-text:hover{
  background-color: rgba(255, 107, 107, 0.6);
}
@media screen and (max-width: 900px) {
.details-text{
  margin: 3rem auto;
}  
}