@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Libre+Baskerville:wght@700&family=Monoton&family=Rubik+Doodle+Shadow&family=Rubik+Doodle+Triangles&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    /* background-color: rgb(11, 78, 83); */
    /* background: linear-gradient(to left, #8942a8,#ba382f); */
        background: rgb(6, 6, 78);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

.main {
    background-image: url("assets/img/UpskillBG3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px, 100vw);
    background-size: cover; /* This property will make sure the background image covers the entire container */
    background-position: center; /* This property centers the background image */
    height: 90vh;
    position: relative;
    border: 2px solid greenyellow;

}
.main .box{
    height: 90vh;
    width: 100%;
    opacity: 0.65;
    background-color: black;
    position: absolute;
    top: 0;

}
nav{
    display: flex;
    justify-content: space-between;
    max-width: 85vw;
    margin: auto;
    align-items: center;
    height: 100px;
    font-size: 20px;
    border: 2px solid rgb(248, 131, 190);
    
}
.navbar li{
    display: inline-block;
    color: white;

}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 23px 30px;
    position: relative;
    z-index: 10;
    border: 2px solid red;
    /* font-size: 20px; */
}
.navbar li a:hover{
    color: rgb(104, 250, 250);
}
nav img{
    color: white;
    position: relative;
    z-index: 10;
}

ul .submenu{
    position: absolute;
    width: 200px;
    color: white;
    box-shadow: 0 20px 45px #00000020;
    margin-top: -50px;
    opacity: 0;
    z-index: -999;
    font-size: 10px;
    transition: all ease 0.3s;
}

ul li:hover .submenu{
    z-index: 99;
    opacity: 1;
    margin-top: 0;
}
.hero{
    font-family: 'Cute Font', 'Rubik Doodle Shadow','sans-serif';
    height: 85%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 93px;
    padding: 0 30px;
    border: 2px solid red;
    /* z-index: 10; */
}

.hero> :first-child{
    font-family: 'Cute Font', 'Rubik Doodle Shadow','sans-serif';
    font-size: 120px;
    font-weight: 600;
    border: 2px solid blue;
}
.hero> :nth-child(2){
    font-size: 50px;
    font-weight: 600;
    border: 2px solid blue;
}

.btn-home{
    padding: 3px 8px;
    font-weight: bold;
    background-color: rgb(204, 74, 74);
    color: white;
    border-radius: 4px;
}


.about{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 80vw;
    align-items: center;
    color: white;
    margin-bottom: 50px;
    border: 2px solid greenyellow;
}
.teamImg img{
    width: 25vw;
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
    border: 2px solid red;
}
.aboutHeading{
    font-size: 50px;
    padding: 10px;
    color: white;
    border: 2px solid red;
}
.aboutContent{
    font-size: 20px;
    padding: 20px;
    text-align: justify;
    margin-right: 150px;
    border: 2px solid red;
}

.speakersHeading{
    font-size: 50px;
    margin: auto;
    max-width: 50vw;
    /* align-items: center; */
    text-align: center;
    justify-content: center;
    color: white;
    border: 2px solid red;
}


.actsHeading{
    font-size: 50px;
    margin: auto;
    max-width: 50vw;
    /* align-items: center; */
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    /* border: 2px solid red; */
}

@media screen and (min-width:500px) {
    .cards-wrapper{
        display: flex;
    }
    .card{
        margin: 0 1.5em;
        width: calc(100%/3);
    }
    .image-wrapper{
        height: 18vw;
        /* margin: 0 auto; */
    }

}


@media screen and (max-width: 567px){
    .card:not(:first-child){
        display: none;
    }
}

.image-wrapper img{
    max-width: 100%;
    max-height: 100%;
}

 .carousel-control-prev, .carousel-control-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.line{
    background-color: gray;
    margin: 50px;
    height: 10px;
}

.footer{
    display: flex;
    color: white;
}









/*.card{
    border: none;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 rgba(22,22,26,0.2);
} */



/* .hero {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    position: relative;
}

.hero .logo {
    font-family: 'Cute Font', 'Monoton', 'Rubik Doodle Triangles', 'Rubik Doodle Shadow', sans-serif;
    font-size: 105px;
}

.hero .version {
    font-size: 40px;
    align-self: flex-start; /* Align to the start of the flex container (left-aligned) */
/* } */

/* .hero .tagline { */
    /* text-align: right; */
    /* flex-grow: 1; Allow the tagline to take up the remaining space */
    /* margin-left: auto; Push the tagline to the right */
/* } */


