@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Libre+Baskerville:wght@700&family=Monoton&family=Rubik+Doodle+Shadow&family=Rubik+Doodle+Triangles&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    /* background-color: rgb(11, 78, 83); */
    /* background: linear-gradient(to left, #8942a8,#ba382f); */
        background: rgb(6, 6, 78);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    overflow-x: hidden;
}

.main {
    background-image: url("assets/img/UpskillBG3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px, 100vw);
    background-size: cover; /* This property will make sure the background image covers the entire container */
    background-position: center; /* This property centers the background image */
    height: 90vh;
    position: relative;
    border: 2px solid greenyellow;
    

}
.main .box{
    height: 100vh;
    width: 100%;
    opacity: 0.65;
    background-color: black;
    position: absolute;
    top: 0;
    display: flex; /* Use flexbox for positioning child elements */
   justify-content: space-between; /* Add space between the logos */
   align-items: center; /* Align items vertically */
   padding: 0 20px; /* Add padding as needed */

}
  
   .logo img {
    max-width: 100%;
    height: auto;
  }


  
.left {
    float: left;
    margin-right: 10px; /* Adjust the margin as needed */
    margin-top: -5px;  
    
  }

.left img {
  width: 100%;
  max-width: 180px;
}



.right {
    float: right;
    margin-left: 20px;
    margin-top: 10px; /* Adjusted margin-top to move it slightly below */
    text-align: center; /* Center align the content within the right div */
}

.right img {
    width: 100%;
    max-width: 100px; /* Increased max-width for a larger size */
}

.bg{
    background-color: rgba(0, 0, 0, 0.7);
}


.navbar  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    color: white;
    margin: 0 20px;
}

.menu {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 30px 20px; 
    position: relative;
    text-align: center;
    z-index: 10;
    font-size: 30px; /* Adjusted font size */
}

.navbar li a:hover {
    color: rgb(104, 250, 250);
}

nav img{
    color: white;
    position: relative;
    z-index: 10;
} 

@media screen and (max-width: 768px) {
    .right img {
      display: none; /* Hide the WIE logo on smaller screens */
    }
  }


ul .submenu {
    position: absolute;
    width: 450px;
    color: white;
    background-color: #333; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin-top: -10px; 
    opacity: 0;
    z-index: -999;
    font-size: 16px; 
    transition: all ease 0.3s;
    padding: 5px 10px ; 
    display: flex;
    text-align: left; 
    flex-direction: column; 
    align-items: flex-start; 
    margin-top: -15px;
}

ul li:hover .submenu {
    z-index: 99;
    opacity: 1;
    margin-top: 0;
}


/* Ensure that the submenu is above other elements when visible */
ul li:hover .submenu {
    z-index: 999;
}

/* Style the submenu items */
ul .submenu a {
    color: white;
    text-decoration: none;
    padding: 4px 0px;
    
    transition: background-color ease 0.3s;
}

ul .submenu a:hover {
    background-color: #2f303000;
}

.hero{
    font-family: 'Rubik Lines', system-ui;
    /* font-family: 'Changa One', sans-serif; */
    /* font-family: 'Cute Font', 'Rubik Doodle Shadow','sans-serif'; */
    height: 80%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 93px;
    padding: 0 30px;
    /* border: 2px solid red;  */
    /* z-index: 10; */
    animation: appear 1s forwards;
  }
  @keyframes appear {
    from {
       transform: scale(0.3);
    }
    to {
       transform: scale(1);
    }
   }
   .hero> :first-child{
    font-family: 'Changa One', sans-serif;
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #00f7bd 0%,
      #c4ee1cc4 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    /* color: #fff; */
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
        font-size: 140px;
  }
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  
  .hero> :nth-child(2){    
    font-size: 50px;
    font-weight: 600;
    /* border: 2px solid blue; */
    animation: jump 2s infinite;
     text-shadow: 3px 2px 2px #0e74b8c9  ;
     font-family: 'Dancing Script', cursive;
    font-size: 2rem ;
  }

  @media screen and (max-width: 1200px) {
    .hero > :first-child {
    font-size: 120px; }
    .hero > :nth-child(2){
      font-size: 18px;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .hero > :first-child {
    font-size: 100px; }
    .hero > :nth-child(2){
      font-size: 18px;
    }
  }
  
  @media screen and (max-width: 880px) {
    .hero > :first-child {
    font-size: 70px; }
    .hero > :nth-child(2){
      font-size: 18px;
    }
  }
  
  @media screen and (max-width: 700px) {
    .hero > :first-child {
      flex-direction: column;
      font-size: 38px; 
      
    } 
    .hero > :nth-child(2){
      font-size: 18px;
    }
  }

  @keyframes jump { 0% { transform: translateY(0px); }

  50% { transform: translateY(-10px); }
  
  100% { transform: translateY(0px); } }
  
.btn-home {
    padding: 10px 25px;
    border: none;
    font-size: 25px;
    color: #0d0d0d;
    border-radius: 10%;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
}

.btn-home {
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(228, 239, 110);
}

.btn-home:hover {
    box-shadow: 0 0 5px rgb(255, 255, 254),
                0 0 25px rgb(255, 255, 254),
                0 0 50px rgb(255, 255, 253),
                0 0 100px rgb(249, 249, 249);
}
.about{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 80vw;
    align-items: center;
    color: white;
    margin-top: 60px;
    margin-bottom: 50px;
    border: auto;
}
.teamImg img{
    flex-wrap: nowrap;
    display: block;
      width: 20vw;
     margin-bottom: 15px;
       flex: 1;
       overflow: hidden;
       /* height: max-content; */
       object-fit: cover;
       position: static;
      /* position: relative; */
      height: auto;
      border: 2px solid red;
  }
  .aboutHeading{
    font-size: 42px;
    text-shadow: #5a3c3c;
    padding: 10px;
    color: white;
    /* border: 2px solid red; */
    font-family: 'Lilita One', sans-serif;
    font-weight: bolder;
    text-shadow: 2px 2px rgb(51, 73, 214);
    overflow: hidden;
    text-overflow: ellipsis;
    position: sticky;
width: 100% ;

}

.aboutContent{
    flex-wrap: wrap;
    font-size: 20px;
    margin-top: 10px;
     border: 2px solid red;
    height: auto;
    transition-duration: 1.1s;
    font-family: 'Lilita One', sans-serif;
    flex: 2;
    box-sizing: border-box;
    flex-direction: column; 
    background-color: rgba(8, 32, 50, 0.6);
    border-radius: 0.5rem;
    transition: ease-out 0.3s;
    padding: 0rem 0.5rem;
    margin-left: 20px;
    line-height: 2rem;
    color: #eeeeee;
  }
  .aboutContent:hover{
    background-color: rgb(228, 105, 128);
    border-radius: 5px;
    transition-duration: 1.1s;
    transform-style: preserve-3d;
    color: rgb(24, 44, 44);
    }
    
    
       @media screen and (max-width: 900px) {
        .aboutHeading{
          margin-top: 50px;
        }
        .aboutContent{
            margin-right: 0;
        }
        .about {
            flex-direction: column; 
            margin-top: 60px;
        }
        .teamImg img {
          margin-top: 0;
            width: 70vw;
        }}
    
      .teamImg {
        width: 100%;
        height: 80%;
        object-fit: cover;
        margin-top: 50px;
        margin-left: 50px;
      }
    
    
      .content-container {
            flex: none;
           width: 100%;
          
        }
    

.speakersHeading{
    font-size: 50px;
    margin: auto;
    max-width: 50vw;
    /* align-items: center; */
    text-align: center;
    justify-content: center;
    color: white;
    border: 2px solid red;
}


.actsHeading{
    font-size: 50px;
    margin: auto;
    max-width: 50vw;
    /* align-items: center; */
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    /* border: 2px solid red; */
}
@media (max-width: 768px) {
  .actsHeading {
      font-size: 30px; 
      max-width: 75%; 
  }
}

/*@media screen and (min-width:500px) {
    .cards-wrapper{
        display: flex;
    }
    .card{
        margin: 0 1.5em;
        width: calc(100%/3);
    }
    .image-wrapper{
        height: 18vw;
        margin: 0 auto; 
    }

} */
.cards-wrapper {
  display: flex;
  justify-content: space-between; 
}

.card {
  margin: 0 5em;
  width: calc(30% - 2em); 
  box-sizing: border-box; 
}

.image-wrapper {
  height: 15vw; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
img{
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 992px) {
  .carousel-inner{
    display: flex;
    padding: 2 em;
  }
  .cards-wrapper {
      flex-direction: column; 
      align-items: center; 
  }
  .card {
      margin: 0 0 2 em; 
      width: 55%; 
  }
  .image-wrapper {
      height: 45vw; 
  }
}

@media screen and (max-width: 567px){
    .card:not(:first-child){
        display: none;
    }
}

.image-wrapper img{
    max-width: 100%;
    max-height: 100%;
}

 .carousel-control-prev, .carousel-control-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}


.line{
    background-color: gray;
    margin: 50px;
    height: 10px;
}

.footer{
    display: flex;
    color: white;
}









/*.card{
    border: none;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 rgba(22,22,26,0.2);
} */



/* .hero {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    position: relative;
}

.hero .logo {
    font-family: 'Cute Font', 'Monoton', 'Rubik Doodle Triangles', 'Rubik Doodle Shadow', sans-serif;
    font-size: 105px;
}

.hero .version {
    font-size: 40px;
    align-self: flex-start; /* Align to the start of the flex container (left-aligned) */
/* } */

/* .hero .tagline { */
    /* text-align: right; */
    /* flex-grow: 1; Allow the tagline to take up the remaining space */
    /* margin-left: auto; Push the tagline to the right */
/* } */


.coming-soon-text {
  font-family: 'Monoton', cursive; /* Change font to Monoton */
  font-size: 40px;
  color: white;
  text-align: center;
  margin-top: 50px;
  animation: bounceColorMotion 3s infinite; /* Animation for a combination of color change and bouncing effect */
}

@keyframes bounceColorMotion {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
      color: white; /* Set the initial and final color */
  }
  40% {
      transform: translateY(-20px);
      color: #ffcc00; /* Set the color at the midpoint of the animation */
  }
  60% {
      transform: translateY(-10px);
      color: #ff3366; /* Set another color at the midpoint of the animation */
  }
}

/* FOOTER */
footer {
    color: #eeeeee;
    font-weight: bold;
    margin-top: 50px;
    padding: 0;
    width: 100%;
    height: 100%;
    border-top: 0.25rem solid white;
  }
  footer h3 {
    margin-top: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
  footer ul {
    padding: 0;
  }
  footer ul li {
    list-style: none;
    font-weight: 400;
    font-size: 1rem;
  }
  
  .fab {
    color: #eeeeee;
  }
  .usefulLinks,
  .Icons,
  .contactDetails {
    margin-top: 2rem;
  }
  .usefulLinks a {
    color: #eeeeee;
    text-decoration: none;
    line-height: 3rem;
  }
  .Icons a {
    display: inline-block;
    margin: 1em;
    font-size: 1.5rem;
  }
  .footCol {
    text-align: center;
  }
  .Col li {
    text-align: left;
  }
  .contactDetails li{
    display: table;
    line-height: 2;
    margin-bottom: 1rem;
  }
  span i{
    width: 2rem;
    margin: 1rem;
    text-align: center;
  }
  .details{
    display: table-cell;
  }
  .contactDetails a{
    color: #eeeeee;
    text-decoration: none;
  }
  .copyright{
    text-align: center;
    margin: 0;
    padding: 1rem;
    color: #787A91
  }
  footer a:hover,footer i:hover{
    color: #787A91;
  }
